body{

/*	background-color: #f5f1e7;*/
	background-color: #6d695c;
	overflow: visible;
}
@media (min-width: 1025px){
	body{

	background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;	

	}
}

.container{
	margin-top:50px;
	margin-bottom:80pt;

}
.paper{
		padding-left:48pt;
		padding-right:48pt;
		padding-top:20pt;
	
		background:  url('./paper.png');
	-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.26);
box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.26);	
}
#publishBtn{
	align: right;
}
.titleStyle{
	text-align: center;
	font-size: 38pt;
	font-style: bold;
	font-family: 'Lateef';
	padding:20px;
	color: gray;
	
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.contentStyle{
	font-size: 18pt;
	padding:20px;
	color: gray;
	font-family: 'Lateef';
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}